.card {
  width: 210px;
  height: 210px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cardContent {
  font-size: 24px;
  font-weight: bold;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flipped .cardContent {
  opacity: 1;
}

.frontImage {
  width: 60%;
  height: auto;
  pointer-events: none;
  margin-top: 35px;
}

.icon {
  font-size: 60px;
  color: #fff;
}

@media (max-width: 576px) {
  .card {
    width: 150px;
    height: 150px;
  }

  .frontImage {
    width: 70%;
    margin-top: 10px;
}
}

