@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.projectsContainer {
  padding: 40px 20px;
  min-height: 100svh;
  width: 100%;
  height:100%;
  background-color: #70A288;
}

.projectsTitle {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  color: #fff;
  margin-bottom: 40px;
  font-family: "Akaya Telivigala";
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.projectCard {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.projectImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projectTitle {
  padding: 15px 15px 5px;
  font-size: 1.3rem;
  margin: 0;
  color: #333;
}

.projectType {
  padding: 0 15px 15px;
  font-size: 0.9rem;
  color: #666;
  margin: 0;
  font-style: italic;
}

@media (max-width: 576px) {
  .projectsTitle {
    font-size: 30px;
  }

    .projectCard {
      width: 90%;
      margin-bottom: 10px;
  }

    .projectCard:hover {
      transform: none;
      box-shadow: none;
  }


}
